Host m1
    HostName 192.168.0.11

Host m4
    HostName 192.168.0.14

Host pc
    HostName 192.168.0.100

Host pc1
    HostName 192.168.0.101

Host *
  AddKeysToAgent yes
  ForwardAgent yes
  User vladas
